<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="jdbc:oracle:thin:@localhost:1521:orcl">
		</property>
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="username" value="scott"></property>
		<property name="password" value="admin"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.Oracle9Dialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/entity/Users.hbm.xml</value></list>
		</property></bean>
		<!-- dao -->
		<bean id="lxydao" class="com.dao.impl.UsersDaoImpl">
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		<!-- biz -->
		<bean id="lxybiz" class="com.biz.impl.UsersBizImpl">
			<property name="uDao" ref="lxydao"></property>
		</bean>
		<!-- action --> 
		<bean id="lxyactions" class="com.action.UsersAction">
			<property name="uBzi" ref="lxybiz"></property>
		</bean>
		
		
		
		
		
		
		</beans>